<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <ul class="navbar-nav">
          <li><a class="navbar-brand" href="{% url 'index' %}">ZONIC</a></li>
          <li><a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin</a></li>
          <li><a class="nav-item nav-link" href="{% url 'basic_app:register' %}">Register</a></li>

          {% if user.is_authenticated %}
            <li><a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a class="nav-item nav-link" href="{% url 'basic_app:user_login'%}">LogIn</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">
      {% block body_block %}

      {% endblock %}
    </div>
  </body>
</html>
